html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

.investor,
.tool_box,
.tool_box2,
.image_holder1,
.image_holder2,
.image_hold {
    overflow: auto; /* Ensures scrolling is enabled if content overflows */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE and older Edge */
}

.investor::-webkit-scrollbar,
.tool_box::-webkit-scrollbar,
.tool_box2::-webkit-scrollbar,
.image_holder1::-webkit-scrollbar,
.image_holder2::-webkit-scrollbar,
.image_hold::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera, new Edge */
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1vw;
	color: rgb(12, 12, 12);
}

.container{
	margin: 0;
	padding: 0;
	
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.investor{
	position: relative;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	height: 100vh;
	width: 100%;

	background-color: rgba(6, 5, 18, 0.34);

	overflow-y: scroll;
}

.test_12{
	position: fixed;
	top: 0;

	z-index: -1;

	object-fit: cover;

	height: 100%;
	width: 100%;

	filter: brightness( 35%);
}

@keyframes appear {
	0%{
		position: absolute;
		top: -62%;

		opacity: 0;
	}
	50% {
		position: absolute;
		top: 40%;

		opacity: 1;
	}
	40%, 65% {
		opacity: 1;
	}	
	10%, 73%{
		opacity: 0;
	}
	100% {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		opacity: 0;
	}
	
}

@keyframes appear-for-honor {
	0%{
		position: absolute;
		top: -62%;

		opacity: 0;
	}
	50% {
		position: absolute;
		top: 40%;

		opacity: 1;
	}
	40%{
		opacity: 1;
	}	
	10%, 50.00001%{
		opacity: 0;
	}
	100% {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		opacity: 0;
	}
	
}

@keyframes appear-for-newhonor {
	0%{
		position: absolute;
		top: -62%;

		opacity: 1;
	}
	20%{
		opacity: 1;
	}
	24%, 40%{
		opacity: 0;
	}
	50% {
		position: absolute;
		top: 40%;
	}
	51%, 100% {
		position: relative;
	}
	
}

@keyframes appear-for-first-bg-hold {
	from{
		opacity: 1;
	}
	50%, 100%{
		opacity: 0;
	}
}

@keyframes into-the-background{
	0%{
		transform: none;
		scale: 1;
		opacity: 1;
	}
	30%{
		transform: translateY(-5vh);
	}
	40%{
		scale: 0.5;
		opacity: 0.9;
	}
	100%{
		transform: none;
		scale: 0;
		opacity: 0;
	}
}

@keyframes sticky-top {
	to{
		position: relative;
	}
	10%{
		position: sticky;
		top: 0;
	}
	from{
		position: sticky;
		top: 0;
	}
}

.bg-hold {
	view-timeline-name: --appear;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	height: 100vh;
	width: 100%;

	background-color: rgba(137, 43, 226, 0.252);
	backdrop-filter: blur(15px);

	z-index: 2;
}

.bg-hold h1{
	animation: appear linear;
	animation-timeline: --appear;

	height: auto;
	width: auto;

	text-align: center;
	font-size: 5rem;
	font-family: Verdana, Geneva, 
		Tahoma, sans-serif;
}

.first-bg-hold{
	animation: appear-for-first-bg-hold linear;
	animation-timeline: view();
	animation-range: cover 80% cover 100%;

	text-align: center;
	font-size: 5rem;
	font-family: Verdana, Geneva, 
		Tahoma, sans-serif;
}

.bg-hold h2 {
	text-align: center;
	font-size: 2rem;
	font-family: Verdana, Geneva, 
		Tahoma, sans-serif;
}

.bg-hold .cool{
	animation: appear-for-first-bg-hold linear;
	animation-timeline: view();
	animation-range: cover 70% cover 110%;

	position: relative;
	top: 20vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bg-hold .fly {
	animation: appear-for-first-bg-hold linear;
	animation-timeline: view();
	animation-range: cover 70% cover 110%;

	position: relative;
	top: -20vh;
}


.intro{
	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;

	background-color: rgba(255, 255, 255, 1);
	backdrop-filter: blur(10px);
	
	color: white;
}

@keyframes breeze{
	25%{
		transform-origin: right center;
		transform: rotateZ(8deg);
	}
	75%{
		transform-origin: left center;
		transform: rotateZ(8deg);
	}
}

.black_box{
	margin: 0;
	padding: 0;

	position: relative;

	padding: 10px 0px;

	height: 80vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: black;

	text-align: center;

	& h1{
		font-size: 3rem;
	}

	& h4{
		position: absolute;
		bottom: 2%;
		left: 5%;

		padding: 0;
		margin: 0;

		font-size: 1.6rem;
	}
}
	.black_box h3{
		animation: breeze 5s infinite;

		position: absolute;
		bottom: 2%;
		right: 5%;

		text-transform: uppercase;

		padding: 0;
		margin: 0;

		font-size: 1.6rem;

		/*transition: 0.2s linear;*/
	}
	.black_box h3:hover{
		animation: none;

		padding: 0.2em;

		border: 1px solid white;
	}

	.black_box h3 a{
			color: white;
			text-decoration: none;
	}
		.black_box h3 a:visited{
			color: white;
			text-decoration: none;
}

.intro p{
	position: absolute;
	top: 81%;
	left: 5%;

	color: black;
	font-size: 1.1rem;
}

.book{
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

.naira{
	margin: 0.1em 0;
	font-size: .8em;
	opacity: 0.7;
	font-weight: 300;
}

.chapter_1{
	position: relative;

	/* z-index: -1; */

	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
	
	background: url(sharp2.png) no-repeat;
	background-size: cover;
}

.chap_head_holder{
	height: 100vh;
	width: 100%;

	padding-bottom: 20vh;

	background-color: rgba(0, 255, 255, 0);
}

.chap_head{
	position: relative;

	z-index: 1;

	width: auto;
	height: 75vh;

	background-color: rgba(255, 230, 198, 0.918);
	border-radius: 0 0 5vw 5vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.chap_head::after{
	content: "";

	position: absolute;
	top: 0;

	z-index: -1;

	height: 82vh;
	width: 100%;

	background-color: rgba(255, 228, 196, 0.438);
}

.chap_head h1{
	font-family: "28 Days Later";
	font-size: 5em;
	font-weight: 800px;
	color: black;
}
.chap_head h2{
	position: relative;
	top: -10%;

	font-family: "13th Ghostwrite JRZ";
		text-transform: uppercase;
	font-size: 2em;
	font-weight: 800px;
	color: black;
}
.chap_head p{
	position: absolute;
	bottom: 3%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 1.5em;
	font-family: "Monotype Corsiva";
	font-weight: 800px;
	color: black;

	letter-spacing: 0.2em;
	text-align: center;
}

.desc1 {
	position: absolute;
	bottom: -7%;
}
.desc1 button{
	height: 4vh;
	width: auto;

	padding: 0.5em;

	border-radius: 0.5em;
	border: 5px solid rgba(0, 0, 0, 0.478);
	background-color: rgba(255, 230, 198, 0.918);
}



.invisible_hold{
	position: relative;

	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tool_box_holder{
	position: absolute;
	top: 5%;
	left: 12.5%;

	margin: 0;
	padding: 0.5vh 0px;

	height: 88vh;
	width: 85%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(240, 248, 255, 0.912);
	border-radius: 35px;
}

.nav_1{
	position: absolute;
	top: 10%;
	left: -2%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	
	padding: 0.5em;
	width: 10vw;
	height: auto;

	border-radius: 1.2em;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.5924319);
	background-color: rgba(240, 248, 255, 0.712);

	transition: 1s linear;
}
.nav_1:hover{
	left: -10%;
}

.spacer{
	position: relative;
	top: -0.5em;

	height: 10vh;
	width: 111%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(63, 69, 75);
	border-radius: 1.2em 1.2em 0 0;

	color: whitesmoke;
}

.chap_links{
	position: relative;

	width: 100%;
	height: 8vh;

	margin: 0.2em;

	list-style: none;

	border-radius: 10px;

	overflow: hidden;

	transition: .95s linear;
}
.chap_links:hover{
	height: 33vh;
}
.chap_links h4:hover{
		background-color: rgb(255, 255, 255);

		padding: 1em;
}
div.no1chap {
	margin-top: -0.3em;
}

.chap_links h4{
	margin-block: 0;
	padding: 0 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 8vh;

	border-radius: 10px;
	background-color: rgb(219, 228, 239);

	transition: .5s linear;
}

.chap_links h4 a{
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-decoration: none;
	font-size: 1.4em;
	color: black;
}
.chap_links h4 a:visited{
	text-decoration: none;
	font-size: 1.4em;
	color: black;
}

.nav_link_holder{
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

.nav_links{
	position: relative;
	left: 20%;

	width: 100%;

	background-color: rgb(219, 228, 239);

	overflow: hidden;
}

.pg_links{
	margin-block: 0;
	padding-inline-start: 0;

	height: 100%;
	width: 100%;
}
.pg_links a{
	height: 100%;
	width: 100%;

	padding: 1em;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	color: black;

	transition: .5s linear;
}
.pg_links a:hover{
		background-color: white;
}



.tool_box{
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;

	width: 95%;
	height: 100%;

	margin: 3% 0;

	border-radius: 20px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.689);
	color: black;

	overflow-y: scroll;
}

.chap_name{
	position: absolute;
	top: 3%;
	left: 3%;

	z-index: 1;

	display: flex;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.096);
	backdrop-filter: blur(10px);
	border-radius: 20px;

	height: 8%;
	width: 20%;

	& h1{
		font-size: 1.4em;
	}
}

.direction{
	/* border: 1px solid black; */

	position: relative;

	grid-column: span 4;

	display: flex;
	justify-content: space-between;
	align-items: baseline;

	padding: 0% 5%;
}

.class1_items{
	width: 95%;
	height: 100%;

	padding-top: 3vh;

	display: grid;
	grid-template-columns: repeat(4, 17vw);
	grid-template-rows: 65vh 5vh;
	gap: 10px;

	justify-content: center;
	align-items: center;

	/* border: 1px solid black; */
}

.tool_1 {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	
	width: auto;
	height: 63vh;

	border-radius: 20px;
	backdrop-filter: blur(15px);
	box-shadow: 0 0 15px rgba(0, 0, 65, 0.150);
	transition: 0.8s ease-out;

	overflow: hidden;
}

.tool_1 .image_holder1{
	position: absolute;
	top: 0;

	width: 100%;
	height: 54%;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8.5px;
}

.img2{
	display: none;
}

.tool_1 img{
	object-fit: cover;

	width: 100%;
	height: 100%;
}

.tool_1 h4{
	position: absolute;

	margin: 0;

	top: 58%;
	left: 5%;

	font-size: 25px;
	color: black;

	z-index: 1
}

.tool_1 p{
	position: absolute;

	width: 90%;

	top: 62%;
	left: 5%;
	z-index: inherit;
	
	text-align: justify;
	color: black;
	font-size: 15px;
	line-height: 20px;
}

.tool_1 h6{
	position: absolute;
	left: 5%;
	bottom: 0;
	font-size: 25px;
	color: black;
	z-index: inherit;
}

.tool_1:hover{
	 padding: 5%;

	 width: 28vw;

	 position: relative;

	 border-radius: 4%;
	 box-shadow: 0 0 15px lightslategray;

	 z-index: 1;
	 & .image_holder1{
		top: 3%;
		left: 5%;

		height: 55%;
		width: 95%;

		z-index: 1;

		overflow: scroll;
		}
	& .img2{
		display: inherit;
		width: 100%;
		height: 100%;
	}
	& h4{
		top: 60%;
	}
	& p{
		top: 65%;
	}
	& h6{
		bottom: 0;
	}
}

.over4:hover{
	right: 75%;
}



.class2_items{
	width: 95%;
	height: 100%;

	padding-top: 3vh;

	display: grid;
	grid-template-columns: repeat(4, 17vw);
	grid-template-rows: 65vh 5vh;
	gap: 10px;

	justify-content: center;
	align-items: center;

	/* border: 1px solid black; */
}



.class3_items{	
	width: 95%;
	height: 100%;

	padding-top: 3vh;

	display: grid;
	grid-template-columns: repeat(4, 17vw);
	grid-template-rows: 32vh 32vh 5vh;
	gap: 10px;

	justify-content: center;
	align-items: center;
}

.span_2{
	grid-row: span 2;
}

.tool_3 {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	
	width: auto;
	height: 100%;

	border-radius: 20px;
	box-shadow: 0 0 15px rgba(0, 0, 65, 0.150);
	backdrop-filter: blur(15px);
	transition: 0.8s ease-out;

	overflow: hidden;
}

.tool_3 .image_holder1{
	position: absolute;
	top: 0;

	width: 100%;
	height: 54%;

	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8.5px;
}

.img2{
	display: none;
}

.tool_3 img{
	object-fit: cover;

	width: 100%;
	height: 100%;
}

.tool_3 h4{
	position: absolute;

	margin: 0;

	top: 58%;
	left: 5%;

	font-size: 25px;
	color: black;

	z-index: 1
}

.tool_3 p{
	position: absolute;

	width: 90%;

	top: 62%;
	left: 5%;
	z-index: inherit;
	
	text-align: justify;
	color: black;
	font-size: 15px;
	line-height: 20px;
}

.tool_3 h6{
	position: absolute;
	left: 5%;
	bottom: 0;

	font-size: 25px;
	color: black;
	z-index: inherit;
}

.tool_3:hover{
	 padding: 5%;

	 width: 28vw;

	 position: relative;

	 border-radius: 4%;
	 box-shadow: 0 0 15px lightslategray;

	 z-index: 1;
	 & .image_holder1{
		top: 3%;
		left: 5%;

		height: 55%;
		width: 95%;

		z-index: 1;

		overflow: scroll;
		}
	& .image_holder2{
		filter: none;

		top: 3%;
		left: 3%;

		height: 95%;
		width: 50%;

		z-index: 1;

		overflow: scroll;
	}
	& .img2{
		display: inherit;
		width: 100%;
		height: 100%;
	}
	& h4{
		top: 60%;
	}
	& p{
		top: 65%;
	}
	& h6{
		bottom: 0;
	}
}

.over5:hover{
	right: 70%;
}

.round_border{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

		& .image_holder2{
		position: absolute;
		top: 0;

		z-index: -1;

		width: 100%;
		height: 100%;

		filter: blur(10px) brightness(110%);

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 8.5px;
	}

	& .img2{
		display: none;
	}

	& img{
		object-fit: cover;

		width: 100%;
		height: 100%;
	}

	& h4{
		position: absolute;
		top: 10%;
		left: 0;

		width: 100%;

		margin: 0;

		font-size: 25px;
		text-align: center;
		color: black;

		z-index: 1
	}

	& p{
		position: absolute;
		top: 25%;
		left: 0;

		z-index: inherit;

		padding: 1vw;

		width: 90%;
		
		color: black;
		font-size: 15px;
		text-align: justify;
		line-height: 20px;
	}

	& h6{
		position: absolute;
		left: 0;
		bottom: 0;

		width: 100%;

		font-size: 25px;
		text-align: center;
		color: black;

		z-index: inherit;
	}

}

.round_border:hover{
	border-radius: 0;

	& h4{
		top: 25%;
		left: 55%;

		width: 40%;
		height: auto;
	}
	& p{
		top: 35%;
		left: 53%;

		width: 40%;
	}
	& h6{
		bottom: 0;
		left: 25%;
	}
}



.class5_items{
	padding-top: 11.5vh;

	display: grid;
	grid-template-columns: repeat(4, 15vw);
	grid-template-rows: 22.5vh 22.5vh 10vh 5vh;
	gap: 10px;

	justify-content: center;

	width: 95%;
	height: 100%;
}

.stubborn_plus{
	background-color: red;

	grid-row-start: 2;
	grid-column-start: 1;
}

.row4{
	grid-row-start: 4;

	padding-bottom: 5vh;
}

.tool_5 {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 20vh;

	border-radius: 10px;
	backdrop-filter: blur(5px);
	box-shadow: 0 0 15px rgba(0, 0, 65, 0.18);
	transition: 0.8s ease-out;
}

.tool_5 img{
	position: absolute;

	width: 50%;
	height: 70%;

	object-fit: cover;
	right: 8%;
	top: 25%;
}

.tool_5 h4{
	position: absolute;

	margin: 0;

	top: 13%;
	left: 5%;

	font-size: 15px;;
	color: black;

	z-index: 1
}

.tool_5 p{
	position: absolute;

	width: 35%;
	max-width: 300px;

	top: 23%;
	left: 5%;
	z-index: inherit;
	
	color: black;
	font-size: 5px;
	line-height: 20px;
}

.tool_5 h6{
	position: absolute;
	left: 5%;
	bottom: 3%;
	font-size: 15px;
	color: black;
	z-index: inherit;
}

.tool_5:hover{
	 padding: 10px;

	 width: 15vw;

	 position: relative;

	 box-shadow: 0 0 15px lightslategray;

	 z-index: 1;

	 & img{
		top: 13%;
		right: 3%;

		height: 80%;
		width: 55%;
		}
}



.chapter_2{
	position: relative;

	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
	
	background: url(sharp.png) no-repeat;
	background-size: cover;
}

.tool_box_holder2{
	position: absolute;
	top: 3%;
	right: 3%;

	margin: 0;
	padding: 1em;

	height: 87.5vh;
	width: 70%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(250, 235, 215, 0.257);
	backdrop-filter: blur(7px);
	border-radius: 20px;
}


.nav_2{
	position: absolute;
	top: 3%;
	left: 3%;

	margin: 0;
	padding: 1em;

	width: 18%;
	height: 87.5vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	border-radius: 1.5em;
	background-color: rgba(250, 235, 215, 0.253);
	backdrop-filter: blur(7px);

	transition: 1s ease-out;
}

.spacer2{
	position: relative;
	top: -1em;

	height: 20vh;
	width: 111%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(222, 184, 135, 0.548);
	border-radius: 1.5em 1.5em 0px 0px;
	color: rgb(9, 9, 9);
}


.chap_links2{
	position: relative;

	width: 100%;
	height: 8vh;

	margin: 0.2em;

	list-style: none;

	border-radius: 0.5em;

	overflow: hidden;

	transition: .95s linear;
}
.chap_links2:hover{
	height: 33vh;
}
 .chap_links2 h4:hover{
	background-color: rgb(221, 199, 169);

	padding: 1em;
}
div.no1chap2 {
	margin-top: -0.6em;
}

.chap_links2 h4{
	margin-block: 0;
	padding: 0 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 8vh;

	border-radius: 10px;
	background-color: rgba(222, 184, 135, 0.548);

	transition: .5s linear;
}

.chap_links2 h4 a{
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-decoration: none;
	font-size: 1.4em;
	color: black;
}
.chap_links2 h4 a:visited{
	text-decoration: none;
	font-size: 1.4em;
	color: black;
}

.nav_link_holder{
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

.nav_links2{
	position: relative;
	left: 20%;

	width: 100%;

	background-color: rgba(222, 184, 135, 0.548);

	overflow: hidden;
}

.pg_links2{
	margin-block: 0;
	padding-inline-start: 0;

	height: 100%;
	width: 100%;
}
.pg_links2 a{
	height: 100%;
	width: 100%;

	padding: 1em;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	color: black;

	transition: .5s linear;
}
.pg_links2 a:hover{
	background-color: rgba(222, 209, 191, 0.548);
}

.chap2_name{
	position: absolute;
	top: 3%;
	left: 3%;

	z-index: 1;

	display: flex;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.096);
	backdrop-filter: blur(10px);
	border-radius: 20px;

	height: 8%;
	width: 29%;

	& h1{
		font-size: 1.4em;
	}
}

.tool_box2{
	width: 100%;
	height: 100%;

	margin:0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 20px;

	color: black;
	
	background-color: rgba(222, 184, 135, 0.35);
	border-radius: 20px;
	/* border: 1px solid black; */

	overflow-y: auto;
}

.class1_tools,
.class2_tools,
.class3_tools {
	height: auto;
	width: 95%;

	padding: 1em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.nothingIsHere{
	opacity: 1;

	height: 20vh;

	display: none;
}

.item_1{
	position: relative;

	height: 15vh;
	width: 100%;

	margin: 0;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	border-radius: 20px;
	background-color: rgba(222, 184, 135, 0.548);

	transition: .6s linear;
}

.image_hold{
	position: absolute;
	top: 0;
	left: 0;

	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	gap: 1em;

	width: 25%;
	height: 100%;

	overflow: hidden;

	/* border: 0.5px solid black; */

	transition: .6s linear;
}

.image_hold img{
	height: 100%;
	width: 100%;

	object-fit: cover;

	transition: .5s linear;
}

/* .item_1 .image_hold{
	position: absolute;
	left: -30%;

	width: 150%;
	height: 150%;
} */

.item_1 p{
	position: absolute;
	top: 38%;
	left: 28%;

	width: 60%;
	font-size: 1em;

	text-align: justify;

	transition: .6s linear;
}

.item_1 h4{
	position: absolute;
	top: 0;
	left: 50%;

	font-size: 1.5em;

	transition: .6s linear;
}

.item_1 h6{
	position: absolute;
	top: 2%;
	left: 90%;

	font-size:  1.55em;

	transition: .6s linear;
}

.item_1:hover{
	height: 40vh;
	width: 100%;

	margin: 0;
	padding: 0;

	/* color: aliceblue; */

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: hidden;

	border-radius: 1em;
	border: .25em solid rgba(222, 184, 135, 0.348);
	background-color: transparent;
	
	 & .image_hold{
		top: 2.5%;
		left: 3%;

		width: 40%;
		height: 95%;

		overflow: scroll;
		}
	& h4{
		top: 0;
		left: 45%;

		width: 45%;
		height: 15%;

		padding: 0 1.4em;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		/* text-align: left; */

		border-radius: .6em;
		background-color: rgba(222, 184, 135, 0.548);
	}
	& p{
		top: 25%;
		left: 45%;

		width: 46.9%;
		height: 40%;

		padding: 1.4em;

		display: flex;
		justify-content: flex-start;
		align-items: start;

		border-radius: 1em;
		background-color: rgba(222, 184, 135, 0.548);
	}
	& h6{
		top: 50%;
		left: 85%;
	}
}




.invisible_hold3{
	position: relative;

	height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: clip;
}

.nav-page-wrap{
	position: relative;
	height: auto;
	width: 90vw;

	display: flex;
	justify-content: space-around;

	border-radius: 1.5em;
}
.nav_3{
	position: relative;

	margin: 0;
	padding: 1em;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 18%;
	height: 87.5vh;

	border-radius: 1.5em;
	border: .3em solid rgba(147, 95, 154, 0.265);
	backdrop-filter: blur(12px);

	transition: 1s ease-out;
}
.spacer3{
	position: relative;
	top: -1em;

	height: 20vh;
	width: 112.5%;

	z-index: -1;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 1.15em 1.15em 0px 0px;
	background-color: rgba(167, 99, 231, 0.103);
	backdrop-filter: blur(12px);
	color: rgb(147, 95, 154);
}
.nav_links3_holder{
	height: auto;
	width: 100%;

	border-radius: 0.8em;	
	border: .3em solid rgba(147, 95, 154, 0.265);
}
.chap_links3{
	position: relative;

	width: 100%;
	height: 8vh;

	margin: 0.2em;

	list-style: none;

	overflow: hidden;

	transition: .95s linear;
}
.chap_links3:hover{
	height: 33vh;
}
.chap_links3 h4{
	margin-block: 0;
	padding: 0 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 8vh;

	border-radius: 10px;
	background-color: rgba(81, 52, 85, 0.175);

	transition: .5s linear;
}
 .chap_links3 h4:hover{
	background-color: rgba(82, 40, 57, 0.323);

	padding: 1em;
}
div.no1chap2 {
	margin-top: -0.6em;
}
.chap_links3 h4 a{
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-decoration: none;
	font-size: 1.4em;
	
	color: rgb(147, 95, 154);
}
.chap_links3 h4 a:visited{
	text-decoration: none;
	font-size: 1.4em;
	
	color: rgb(147, 95, 154);
}
.nav_link_holder{
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}
.nav_links3{
	position: relative;
	left: 20%;

	width: 100%;

	background-color: rgba(222, 191, 218, 0.483);

	overflow: hidden;
}
.pg_links3{
	margin-block: 0;
	padding-inline-start: 0;

	height: 100%;
	width: 100%;
}
.pg_links3 a{
	height: 100%;
	width: 100%;

	padding: 1em;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	color: black;

	transition: .5s linear;
}
.pg_links3 a:hover{
	background-color: rgba(240, 91, 220, 0.503);
}

.page-hold{
	height: 87.5vh;
	width: 70%;

	padding: 1em;

	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 1.5em;
	border: .3em solid rgba(147, 95, 154, 0.265);
	backdrop-filter: blur(12px);

	transition: 1s linear;

	perspective: 100em;
}
.page-hold:hover {

	border-radius: 0em;
	border: 0em solid rgba(147, 95, 154, 0.265);
	backdrop-filter: blur(20px);
	z-index: 1;

	/* position: absolute;
	top: 1%;
	left: 1%;

	height: 99vh;
	width: 95vw; */

	& .inner-page-hold{
		transform-style: preserve-3d;
		transform: rotateY(-60deg) skewX(0deg) skewY(5deg) translateX(-10em);
		
		border-radius: 1.5em;
		border: .3em solid rgba(224, 151, 234, 0.265);
		

		height: 110%;
		width: 110%;

		padding: 1em;
	}

	& .chap3-name, .chap-body{
		transform: translateX(-5em);
	
		border-radius: 1.5em;
		border: .2em solid rgba(224, 151, 234, 0.161);
	}
}

.inner-page-hold{
	height: 100%;
	width: 100%;

	margin: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: space-around;
	flex-shrink: 0;
	gap: 1em;

	transform-origin: right;
	transition: 1s linear;
}

@keyframes grad-cap{
	50%{		
		transform: rotateZ(10deg);
	}
}
.chap3-name{
	position: relative;
	height: 35%;
	width: 95%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);

	border-radius: 1.5em;
	background-color: rgba(147, 95, 154, 0.419);

	transition: 1s linear;
}
.chap3-name-image{
	height: 75%;
	width: 75%;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	justify-self: center;
}
.chap3-name-image img{
	animation: grad-cap 2s linear infinite;

	height: auto;
	width: auto;

	margin: auto;
	padding: auto;

	transform-origin: right;
}
.chap3-name-grid{
	height: 50%;
	width: 100%;

	padding: 1em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;

	border-left: .3em solid rgb(0, 0, 0);
}
.chap3-name-grid h1{
	margin: 0.1em 0.5em;

	font-size: 3em;	
	color: rgb(0, 0, 0);
}
.chap3-name-grid h3{
	margin: 0.1em 1.1em;
	
	font-size: 1.5em;
	font-weight: 100px;	
	color: rgb(0, 0, 0);
}

.chap-body{
	height: 65%;
	width: 95%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	grid-template-areas: 
		"uno dos"
		"tres qua";
	align-items: space-around;

	color:  rgba(147, 95, 154, 0.87);
	
	backdrop-filter: blur(20px);
	border-radius: 1.5em;
	border-top: .3em solid rgba(147, 95, 154, 0.265);

	transition: 1s linear;
}

.gen-s-w{
	margin: 1em 0;

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: .75em;

	transition: .2s linear;
}
.sup-wrap1{
	border-right: .3em solid rgba(147, 95, 154, 0.1325);
}
.sup-wrap2{
	border-left: .3em solid rgba(147, 95, 154, 0.1325);
}
.gen-s-w:hover{

	& .supply{
		transform: translateY(3em);

		background-color: rgba(147, 95, 154, 0.337);
	}
}

.supply{
	width: 90%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: .6s linear;

	perspective: 70em;
}
.supply-class1{
	grid-area: uno;
}
.supply-class2{
	grid-area: dos;
}
.supply:hover{

	& .sup-contain1{
		position: absolute;
		top: 0;

		transform: translateX(-23em) translateY(3em) translateZ(55em)
			 rotateY(24.5deg) skewY(-4.5deg);

		display: flex;
		justify-content: flex-start;
		align-items: center;

		width: 90%;

		border-left: 0.2125em solid rgba(147, 95, 154, 0.265);
		border-right: 0.2125em solid rgba(147, 95, 154, 0.265);
		border-bottom: 0.2125em solid rgba(147, 95, 154, 0.265);

		border-radius: 2em 2em 1.5em 1.5em;
		border-top: .25em solid rgba(147, 95, 154, 0.932);
		background-color: rgba(147, 95, 154, 0.0);
	}
	& .sup-contain2{
		position: absolute;
		top: 0;

		transform: translateX(-22em) rotateY(135deg) translateZ(-50em) translateX(-10em) translateZ(-9em);

		display: flex;
		justify-content: center;
		align-items: center;

		width: 90%;
		
		background-color: rgba(147, 95, 154, 0.407);
	}
	& .sup-contain1-header{
		background-color: rgba(82, 49, 112, 0.39);
		width: 95%;
		height: 35%;

		margin: 0.5em;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr 2fr;
		align-items: center;

		background-color: rgba(147, 95, 154, 0.337);
		border-radius: 1em;
		
		& h1 {
			border-left: .1em solid rgba(147, 95, 154, 0.932);
			font-size: 2em;
			padding: .8em 0 0 0.5em;
			height: 50%;
			color: rgba(147, 95, 154, 0.932);
		}
		& .image-hold3{
			height: 55%;
			width: 50%;

			display: flex;
			justify-content: center;
			align-items: center;
			align-self: center;
			justify-self: center;

			& svg{
				height: 100%;
				transform: scale(1);
			}
		}
	}
	& .sup-contain2-header{
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(147, 95, 154, 0.337);
		border-radius: 1em;
		
		& h1 {
			font-size: 3.5em;
			color: rgba(147, 95, 154, 0.932);
			margin-left: 1.5em;
		}
		& .image-hold3{
			height: 55%;
			width: 50%;

			display: flex;
			justify-content: center;
			align-items: center;

			& svg{
				height: 100%;
				transform: scale(1);
			}
		}
	}
	.gvg {
		position: absolute;
		top: 50%;
		left: 0;

		width: 50%;
		height: 70%;

		display: flex;
		align-items: center;
		justify-content: center;

		transform: translateX(30em) rotateY(-19deg) translateZ(11em) scaleX(2.3);
		
	}
	.sup-contain1-body {
		display: flex;
	}
}

.sub{
	view-timeline-name: --blurCue;

	width: 75%;
	height: 95%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border-radius: 1.5em;
	border-top: .625em solid rgba(147, 95, 154, 0.265);
	background-color: rgba(147, 95, 154, 0.059);
	backdrop-filter: blur(5px);

	transition: 1s linear;
}
.sub h1{
	font-size: 2.5em;
}
.sub svg{
	transform: scale(.7);
}
.sup-contain2 {
	perspective: 19em;

	transform-origin: center;
}

.tres{
	grid-area: tres;
	/* border-top: .3em solid rgba(147, 95, 154, 0.265);
	border-right: .3em solid rgba(147, 95, 154, 0.265); */
}	
.qua{
	grid-area: qua;
	/* border-left: .3em solid rgba(147, 95, 154, 0.265);
	border-top: .3em solid rgba(147, 95, 154, 0.265); */
}

.sup-contain1-body {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 95%;
	height: 65%;

	border-top: .25em solid rgba(147, 95, 154, 0.932);
	border-radius: 1em;
	background-color: rgba(255, 228, 196, 0);

	transition: 2s linear;
}
.inner-stationery-body {
	width: 95%;
	height: 90%;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: start;

	border-radius: 1em;
}
.inside-body{
	width: 97%;
	height: 90%;

	display: flex;
	justify-content: space-between;
	align-items: start;	

	border: .05em solid rgba(147, 95, 154, 0.932);
	border-radius: 1em;
}

.sup-contain2 {
	position: relative;
}
.gvg{
	display: none;

	background-image: linear-gradient(-175deg, rgba(248, 225, 248, 0), rgba(248, 225, 248, 0.005), rgba(248, 225, 248, 0.005),
						 rgba(214, 173, 255, 0.313), rgba(214, 173, 255, 0.669));
}

.block-list{
	width: 90%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: start;

	margin: 1em 1.8em;
	padding: 0;

	font-size: 1em;

	list-style-type: none;
	color: rgba(147, 95, 154, 0.932);
}
.block-list ul {
	list-style-type: none;
}
.price-tag {
	margin: 1em 2em 1em 0;
	padding: 0;

	width: 5%;

	list-style-type: none;
}




.chapter_4 {
	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inner-chap{
	height: 100vh;
	width: 100%;

	display: grid;
	grid-template-columns: 1.8fr 7fr;

	align-items: center;

	background-color: rgb(255, 255, 255);
}

.inner-chap .side{
	position: relative;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	width: 100%;

	overflow: clip;
}

.nav_4{
	margin: 1em 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width: 100%;
	height: 100%;

	border-radius: 1.5em;
	/* border: .3em solid rgba(147, 95, 154, 0.265); */

	overflow: visible;

	transition: 1s ease-out;

	transform: scale(0.7);


	& .bg-img{
	position: absolute;

	z-index: -1;

	width: 100%;
	height: 130%;

	object-fit: cover;
	object-position: 85% 70%;

	opacity: .5;

	overflow-x: visible; 
}
}
.nav_4:hover{
	transform: scale(.9);

	text-shadow:none;
}
.spacer4{
	height: 15vh;
	width: 100%;

	margin-bottom: 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 1.15em 1.15em 0px 0px;
	text-shadow: -.55em 0.93em .4em rgba(0, 0, 0, 0.408);
	backdrop-filter: blur(3em);
	font-size: 1.5em;
	color: rgb(0, 0, 0);
}

@keyframes slide-out-then-in {
}

.spacer4 h1{
	animation: slide-out-then-in 5s linear infinite;

	transform-origin: 50% 50%;
}
.chap_links4{
	width: 100%;
	height: 10vh;

	margin: 1.2em 0;

	list-style: none;

	border-radius: .7em;
	box-shadow: -.55em .95em .9em rgba(0, 0, 0, 0.504);

	overflow: hidden;

	transition: .95s linear;
}
div.no1chap2 {
	margin-top: 0;
}
.chap_links4:hover {
	height: auto;
	margin: 0.3em;

	& h4{
		height: 15vh;
	}
}

.chap_links4 h4{
	margin-block: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 10vh;

	border-radius: .7em .7em 0 0;
	transition: .5s linear;
}
.chap_links4 h4.bg-pos0{
	background-image: url(sharp.png);
	background-position: 75% 250% ;

}
.chap_links4 h4.bg-pos1{
	background-image: url(sharp.png);
	background-position: 10% 50% ;

}
.chap_links4 h4.bg-pos2{
	background-image: url(sharp.png);
	background-position: 50% 900% ;
	
}
.chap_links4 h4.bg-pos3{
	background-image: url(sharp.png);
	background-position: 75% 250% ;

}

.chap_links4 h4 a{
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	font-size: 1.4em;

	color: rgba(240, 253, 255, 0.889);
}
.chap_links4 h4 a:visited{
	text-decoration: none;
	font-size: 1.4em;

	color: rgba(240, 253, 255, 0.889);
}

.nav_link_holder{
	position: relative;

	width: 100%;
	height: 100%;

	overflow: hidden;
}
.nav_links4{
	position: relative;

	width: 100%;

	overflow: hidden;
}

.pg_links4{
	margin-block: 0;
	padding-inline-start: 0;

	height: 50%;
	width: 100%;
}
.pg_links4 a{
	height: 50%;
	width: 100%;

	padding: 1em;

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	list-style-type: none;
	font-size: 1em;
	color: black;

	transition: .5s linear;
}
.pg_links4 a:hover{
	background-color: rgba(222, 209, 191, 0.548);
}

.inner-chap .main {
	position: relative;

	z-index: 1;

	height: 100%;
	width: 100%;

	box-shadow: 0 0 5em rgb(0, 0, 0);
	background-color: rgba(255, 239, 210, 0.171);

	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 3.5fr 6fr 6fr;
	grid-template-areas: "h h h h h h h h h h h h"
						 "b b b b b b b b b d d d"
						 "b b b b b b b b b d d d";
	gap: 0;
	justify-content: center;
	align-items: center;

	overflow: visible;
}

@keyframes the-end-header{
	 15%{
		z-index: 0;
		transform: translateY(calc(100vh/40*2)) scale(.8);
	 }
	 20%{ 
		transform: translateY(calc(100vh/14*6)) scale(.5);
	 }
	 35%{
		transform: translateY(calc(100vh/20*1)) scale(10);
	 }
	 45%, 55%{
		transform: translateY(calc(100vh/20*1)) scale(10);
	 }
	 75%{
		transform: translateY(calc(100vh/20*1)) translateX(calc(-100vw)) 
			scale(10);
	}
	5%, 85%{
		z-index: 0;
		transform: none;
	}
}
@keyframes the-end-p{
	0%{
		text-align: center;
		border-left: 1px solid black;
	}
	 5%, 50%{
		opacity: 0;
		transform: none;
		border-left: 1px solid rgba(0, 0, 0, 0);
	 }
	 51%{
		transform: translateY(calc(100vh/19*1)) translateX(calc(100vw/2)) 
					scale(6);

		margin-bottom: 1.55em;
	 }
	 55%{
		transform: translateY(calc(100vh/19*1)) translateX(calc(100vw/2)) 
					scale(6);
		opacity: 0;
	 }
	 65%, 80%{
		opacity: 1;
		transform: translateY(calc(100vh/19*1)) translateX(calc(-100vw/40)) 
					scale(6);

		margin-bottom: 1.55em;
	}
	85%{
		transform: none;
		margin-bottom: 1em;
		border-left: 1px solid rgba(0, 0, 0, 0);
	}
	88%{
		border-left: 1px solid rgb(0, 0, 0);
	}
}

.chapter_4_head{
	height: 100%;
	width: 100%;

	grid-area: h;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5em;

	overflow: clip;
}
.chapter_4_head h1{
	position: relative;
	animation: the-end-header 10s linear infinite ;
	z-index: 0;
}
.chapter_4_head p{
		animation: the-end-p 10s linear infinite ;

		width: 5vw;

		text-align: center;
		border-left: 1px solid black;
}

.chapter_4_body{
	position: relative;

	grid-area: b;

	z-index: 4;
	
	height: 95%;
	width: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40em;

	margin: 2em;

	box-shadow: 0 0 2em rgba(0, 0, 0, 0.538);
	border-radius: 1em;

	overflow: hidden;
}
.chapter_4_body img{
	position: absolute;

	width: 130%;
	height: 150%;

	object-fit: cover;
	object-position: 0% 60%;

	mix-blend-mode: screen;

	opacity: .125;
}

.closing-remarks{
	position: relative;

	width: 90%;
	height: 50%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 0 1em;

	font-size: 1.5em;
	line-height: 1.4em;

	& p{
		margin: .5em;
	}
}
.thanks {
	width: 85%;

	z-index: 1;

	font-size: 5em;
}
.downloadable{
	position: relative;

	height: 100%;
	width: 105%;

	z-index: 4;

	margin: 1em -2em;

	grid-area: d;

	box-shadow: 0 0 2em rgba(0, 0, 0, 0.538);
}

.cool-pic{
	height: 100vh;
	width: 100%;

	z-index: 1;

	overflow: clip;

	& img {
		height: 105%;
		width: 100%;

		object-fit: cover
	}
}